* {
    box-sizing: border-box;
}

#display {
    border: 2px solid black;
    height: 50px;
}

#display + div {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 25%;
    height: 75px;
}